@charset "UTF-8";

/* Reset 시작 */
* {
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a         {    text-decoration: none;    }
a:link    {    color: #333;    }
a:visited {    color: #333;    }
a:hover   {    color: #333;    }
a:active  {    color: #333;    }

ul {
    list-style-type: none;
}
/* Reset 끝 */

/* Guide line 시작 */
/*div#wrap    { border: 1px solid #000; }*/
/*nav#gnb     { border: 1px solid #000; }*/
/*div#left      { border: 1px solid #f80; }*/
/*div#galleryList { border: 4px solid #08f; }*/
/* Guide line 끝 */



/* div#wrap 전체영역 시작 */
div#wrap {
    width: 1060px;
    margin: 0 auto;
}
/* div#wrap 전체영역 끝 */


/* header#header 시작 */
header#header {
    text-align: center;
}
#header>h1 {
    height: 100px;
    line-height: 100px;
}
nav#gnb {
    width: 820px;
    margin: 16px auto;
}
nav#gnb>#mainMenu>li {
    float: left;
}
nav#gnb li.selected {
    font-weight: bold;
}
nav#gnb>#mainMenu::after {
    content: "";
    display: inline-block;
}
nav#gnb>#mainMenu>li:not(:last-child)::after {
    content: "|";
    width: 50px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -1px;

}
nav#gnb>#mainMenu>li a {
    font-size: 16px;
/*    border: 1px solid #000;*/
}
/* header#header 끝 */



/* main#main 시작 */
main#main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

    /* div#left 시작 */
div#left {
    width: 390px;
}
    /* div#left 끝 */


    /* div#galleryList 시작 */
div#galleryList {
    width: 630px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#galleryList div.galleryArticle {
    width: 200px;
    text-align: center;
    /*border: 4px solid #f00;*/

    cursor: pointer;
}

#galleryList .galleryArticle span.leadTxt {
    color: #a07a56;
    font-size: 12px;
    font-weight: bold;
}
#galleryList .galleryArticle span.goodsName {
    font-size: 12px;
    /*font-weight: bold;*/
}
#galleryList .galleryArticle span.price {
    color: #208a88;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    display: block;
}
#galleryList .galleryArticle span.price::after {
    content: " 원";
    font-size: 16px;
}
    /* div#galleryList 끝 */

/* main#main 끝 */






/* 모달레이어 팝업 소스 위치 시작 */
div.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.modalBackground>div.modalArticle {
    width: 480px;
    padding: 40px;
    /*border: 4px solid #f00;*/
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modalBackground>.modalArticle>img {
    margin-bottom: 20px;
    display: block;
}

.modalArticle span.modalLeadTxt {
    color: #a07a56;
    font-size: 16px;
    font-weight: bold;
}

.modalBackground>.modalArticle>span.modalPrice {
    color: #208a88;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    display: block;
}

.modalBackground>.modalArticle>span.modalPrice::after {
    content: " 원";
    font-size: 16px;
}

    /* 닫기 버튼 시작 */
.modalBackground>.modalArticle span.closeBtn {
    content: "X";
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    border: 4px solid #fff;
    border-radius: 30px;

    cursor: pointer;

    display: inline-block;

    position: absolute;
    right: -100px;
    top: -40px;

}
    /* 닫기 버튼 끝 */


/* 모달레이어 팝업 소스 위치 끝 */









